body.dark {
background: #0f1a14;
color: #d7ffd9;
font-family: Arial;
}

body.black {
background: #000;
color: #0f0;
}

body.grey {
background: #1e1e1e;
color: #ccc;
}

header {
padding: 20px;
background: #12261a;
}

.card {
background: #16241b;
padding: 20px;
margin: 20px;
border-radius: 10px;
}

button {
background: #1db954;
border: none;
padding: 10px;
color: white;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background: #17a74a;
}

textarea {
width: 100%;
height: 150px;
background: #0d1410;
color: #9effa1;
border: none;
padding: 10px;
}
